@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');

html,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

html {
    background: linear-gradient(90deg, #bfbfbf, #95c9aa, #86bb8a);
    font-family: 'Cal Sans', sans-serif;

    overflow-x: hidden;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

a {
    text-decoration: none;
}

a:visited {
    color: #1b4332;
}

h1 {
    font-size: 50px;
    color: #1b4332;
    text-align: center;
    font-weight: bolder;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0 40px;

    position: sticky;

    .menu-items {
        display: flex;
        gap: 30px;

        a {
            position: relative;
            color: #1b4332;
            font-size: 30px;
            text-decoration: none !important;
            transition: transform 0.3s ease;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -5px;
                width: 0;
                height: 2px;
                background-color: #1b4332;
                transition: width 0.3s ease;
            }

            &:hover {
                transform: translateY(-4px);

                &::after {
                    width: 100%;
                }
            }
        }
    }

    .menu-items-mobile {
        display: none;
    }

    button.mobile-menu {
        display: none;
    }
}

@supports (animation-timeline: scroll()) {
    .navbar {
        /* Define a animação */
        animation: scroll 0.75s ease-in-out both;

        /* A animação irá ocorrer com base no scroll do mouse */
        animation-timeline: scroll();

        /* define o minimo/maximo da animação, ou seja, ela estará completa ao 10dvh */
        animation-range: 0dvh 10dvh;
    }
}

@keyframes scroll {
    /* FIXME: tem algum problema de estilo na home em que a página trava quando vc rola pra baixo, vo deixar isso quieto por enquanto... */
    /* to {
        background-color: #bfbfbf;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    } */
}

@media (max-width: 1366px) {
    .navbar {
        .menu-items {
            display: none;
        }

        .menu-items-mobile {
            padding-inline: 1rem;

            display: flex;
            flex-direction: column;
            align-items: end;

            width: 50dvw;
            height: 100dvh;

            border-left: #1b4332 2px solid;

            font-size: 1.625rem;

            top: 0;
            bottom: 0;
            right: 0;
            position: fixed;
            z-index: 2;

            background: linear-gradient(90deg, #bfbfbf, #95c9aa, #86bb8a);

            * {
                margin: 1.125rem;
            }
        }

        button.mobile-menu {
            display: unset;
            z-index: 1;

            border: none;
            background: transparent;
            color: #1b4332;
            font-size: 3rem;
            font-weight: bold;
        }
    }

    body {
        font-size: 14px !important;
    }
}