@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');

html,
* {
    margin: 0;
}

body {
    background: linear-gradient(90deg, #bfbfbf, #95c9aa, #86bb8a);
    font-family: 'Cal Sans', sans-serif;
}

.navbar {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 90px;
    padding: 0 40px;

    .menu-items {
        display: flex;
        gap: 30px;

        a {
            position: relative;
            color: #1b4332;
            font-size: 30px;
            text-decoration: none !important;
            transition: transform 0.3s ease;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -5px;
                width: 0;
                height: 2px;
                background-color: #1b4332;
                transition: width 0.3s ease;
            }

            &:hover {
                transform: translateY(-4px);

                &::after {
                    width: 100%;
                }
            }
        }
    }
}